use Mix.Config

# Config firebase
config :taocupao_app_nerves,
  firebase_slug: "YOUR_FIREBASE_SLUG",
  # Currently unused for authentication
  #firebase_pem:
  #  File.cwd!()
  #  |> Path.join("firebase.pem")
  #  |> File.read!()

# Config postgres, remember setting a different url for production. This is the default, docker-compose database
config :taocupao_app_nerves, TaocupaoAppNerves.Repo,
  url:
    "postgres://taocupao:taocupao@localhost:6432/taocupao",
  ssl: true

# Config network access
if Mix.target() != :host do
  config :nerves_network, :default,
    wlan0: [
      networks: [
        [
          ssid: "YOUR_WIFI_SSID",
          psk: "YOUR_WIFI_PASSWORD",
          key_mgmt: String.to_atom("WPA-PSK")
        ]
      ]
    ]
end
